{%extends "nav_bar.html"%}

{%block content%}
	<!-- Filter form -->
	<div class="container" style="padding-top: 10px;">
			<form action="", method="post", class="border-bottom" style="padding-bottom: 10px;">
		
				<!-- Crawler Name -->
			
				<div class="form-group">
					<label for="crawler-name">Crawler</label>
					<select name="crawler-name" class="form-control" id="category" onchange="this.form.submit()">
						{% for i in crawler_names %}
							{% for j in i %}
								{% if j == current_crawler %}
									<option selected>{{j}}</option>			
								{% else %}
									<option>{{j}}</option>
								{% endif %}
							{% endfor %}	
						{% endfor %}
					</select>						
				</div>
			
		
				<!-- Search Term -->
				<div class="form-group">
					<label for="search-term">Search</label>
					<input name="search" type="text" class="form-control" id="search-term" placeholder="Search your data" value={{current_search}} onblur="this.form.submit()">
				</div>

				<!-- Suggested Labels -->
				

			</form>
		</div>
{%endblock%}
