{%extends "nav_bar.html"%}

{%block content%}
	<!-- Filter form -->
	<div class="container">
			<form action="", method="post">
		
					<!-- Crawler Name -->
				
						<div class="form-group">
							<label for="crawler-name">Name</label>
							<input type="text" class="form-control" id="crawler-name" placeholder="Name of crawler" value="{{name}}" name="name">
							
						</div>
				
			
					<div class="form-row">
							<!-- Category -->
							<div class="form-group col-md-6"
							<label for="category">Category</label>
								<select name="category" class="form-control" id="category" onchange="this.form.submit()">
									{% for i in categories %}
										{% if i == current_category %}
											<option selected>{{i}}</option>			
										{% else %}
											<option>{{i}}</option>
										{% endif %}
									{% endfor %}
								</select>
							</div>
						
							<!-- Subcategory -->
							<div class="form-group col-md-6"
							<label for="subcategory">Subcategory</label>
								<select name="subcategory" class="form-control" id="subcategory">
									{% for i in subcategories %}
										{% if i == current_subcategory %}
											<option selected>{{i}}</option>			
										{% else %}
											<option>{{i}}</option>
										{% endif %}
									{% endfor %}
								</select>
							</div>
					</div>
					<!-- Search Term -->
						<div class="form-group">
							<label for="search-term">Search</label>
							<input name="search" type="text" class="form-control" id="search-term" placeholder="Search term..." value={{search}}>
							<small class="form-text text-muted">Crawl a specific search term</small>
						</div>
					

				<button class="btn btn-primary" type="submit" formaction={{ url_for("preview") }}>Preview</button>
				<button class="btn btn-primary" type="submit" formaction={{ url_for("add") }}>Add Crawler</button>
			</form>
		</div>
{%endblock%}
