{%extends "nav_bar.html"%}

{%block content%}
<!-- Filter form -->
<div class="container" style="padding-top: 10px;">
	<form action="", method="post", class="border-bottom" style="padding-bottom: 10px;">

		<!-- Crawler Name -->
		
		<div class="form-group">
			<label for="crawler-name">Crawler</label>
			<select name="crawler-name" class="form-control" id="category" onchange="this.form.submit()">
				{% for i in crawler_names %}
				{% for j in i %}
				{% if j == current_crawler %}
				<option selected>{{j}}</option>			
				{% else %}
				<option>{{j}}</option>
				{% endif %}
				{% endfor %}	
				{% endfor %}
			</select>						
		</div>
		

		<!-- Search Term -->
		<div class="form-group">
			<label for="search-term">Search</label>
			<input name="search" type="text" class="form-control" id="search-term" placeholder="Search your data" value="{{current_search}}" onblur="this.form.submit()">
		</div>

		<!-- Suggested Labels -->
		{% if suggested_labels != None %}
			<div class="form-group">
				<label>Suggested Labels:</label>
				{% for lb in suggested_labels %} 
					<div class="form-check form-check-inline" style="padding-left: 10px;">
					  {% if lb in selected_labels %}
					  	<input class="form-check-input" type="checkbox" id="{{lb}}" value="{{lb}}" onchange="this.form.submit()" name="suggested_labels" checked> 
					  {% else %}
					  	<input class="form-check-input" type="checkbox" id="{{lb}}" value="{{lb}}" onchange="this.form.submit()" name="suggested_labels">	
					  {% endif %}
					  <label class="form-check-label" for="{{lb}}">{{lb}}</label>
					</div>
				{% endfor %}
			</div>
		{% else %}
			<div class="form-group">
				<label>Suggested Labels</label>
				<div class="form-check form-check-inline" style="padding-left: 10px;">
				  <input class="form-check-input" type="checkbox" id="None" value="option1" disabled name="None"> 
				  <label class="form-check-label" for="None">None</label>
				</div>
			</div>
		{% endif %}

		<!-- Submit Button -->
		<button class="btn btn-primary" type="submit">Search</button>

	</form>
	
	<!-- Return data -->
	<table class="table">
		<thead>
			<tr>
				<th scope="col">Name</th>
				<th scope="col">Price</th>
				<th scope="col">Date</th>
			</tr>
		</thead>
		{% if crawler_data != None %}
		<tbody>
			{% for data in crawler_data %}
			<tr>
				<td>{{data["name"]}}</td>
				<td>{{data["price"]}}</td>
				<td>{{data["date"]}}</td>
			</tr>
			{% endfor %}
		</tbody>
		{% endif %}
	</table>

</div>
{%endblock%}
