{%block content%}
	{% if preview_content != None %}
	<table class="table">
		<thead>
			<tr>
				<th scope="col">Name</th>
				<th scope="col">Price</th>
				<th scope="col">Date</th>
			</tr>
		</thead>
		<tbody>
			{% for data in preview_content %}
			<tr>
				<td>{{data["name"]}}</td>
				<td>{{data["price"]}}</td>
				<td>{{data["date"]}}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% else %}
	<table class="table">
		<thead>
			<tr>
				<th scope="col">Name</th>
				<th scope="col">Price</th>
				<th scope="col">Date</th>
			</tr>
		</thead>
	</table>
	<p class="text-center">- Preview content-</p>
	{% endif %}
{%endblock%}